body
{
    background-repeat:repeat;
    background-color:white;
}

.A
{
    background-image:url('https://snipstock.com/assets/cdn/png/11d24b8e56958d1355b05680609b33b4.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.B
{
    background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/NYCS-bull-trans-B.svg/1024px-NYCS-bull-trans-B.svg.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.C
{
    background-image:url('https://www.clipartkey.com/mpngs/m/19-195374_alphabet-letter-c-letter-c.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.D
{
    background-image:url('https://png.pngtree.com/png-clipart/20210131/ourlarge/pngtree-letter-e-serial-art-png-image_2878589.jpg');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.E
{
    background-image:url('https://pngimg.com/uploads/letter_e/letter_e_PNG20.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.F
{
    background-image:url('https://pngimg.com/uploads/letter_f/letter_f_PNG41.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.G
{
    background-image:url('Letter/G.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.H
{
    background-image:url('Letter/H.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.I
{
    background-image:url('Letter/I.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.J
{
    background-image:url('Letter/J.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.K
{
    background-image:url('Letter/K.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.L
{
    background-image:url('Letter/L.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.M
{
    background-image:url('Letter/M.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.N
{
    background-image:url('Letter/N.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.O
{
    background-image:url('Letter/O.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.P
{
    background-image:url('Letter/P.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.Q
{
    background-image:url('Letter/Q.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.R
{
    background-image:url('Letter/R.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.S
{
    background-image:url('Letter/S.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.T
{
    background-image:url('Letter/T.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.U
{
    background-image:url('Letter/U.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.V
{
    background-image:url('Letter/V.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.W
{
    background-image:url('Letter/W.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.X
{
    background-image:url('Letter/X.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.Y
{
    background-image:url('Letter/Y.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.Z
{
    background-image:url('Letter/Z.png');
    width: 25px;;
    height: 30px;;
    position: relative;
    display:none;
}

.line
{
    border-left: thick solid rgba(255, 0, 0, 0.2);
    height:100%;
    left: 1800px;
    position: relative;
}